@{
	Layout = null;
}
<nav class="navbar navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand">Customar Pannal</a>
		<button class="btn btn-outline-danger me-2" id="logoutBtn" type="submit">LogOut</button>
		<a asp-controller="Admin" asp-action="BroadbandConnections">BroadbandConnections</a>
		<a asp-controller="Admin" asp-action="Customers">Customers</a>
		<a asp-controller="Admin" asp-action="DialUpConnections">DialUpConnections</a>
		<a asp-controller="Admin" asp-action="LandLineConnections">LandLineConnections</a>
		<a asp-controller="Admin" asp-action="Payments">Payments</a>
		<a asp-controller="Admin" asp-action="Contects">Payments</a>
	</div>
</nav>