@model NEXUS.Models.Customer

<div class="row" style="margin:20px; margin-top: 100px; margin-bottom: 100px;">
    <div class="col-md-8 col-lg-8 mx-auto">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["error"]
            </div>
        }
        <div class="form_container">
            <h2>Registration Form</h2>
            <form class="row g-3" asp-action="Registration" asp-controller="WEB" method="post">
                <div class="col-md-6">
                    <label asp-for="Name" class="form-label">First Name</label>
                    <input asp-for="Name" class="form-control" />
                </div>
             
                <div class="col-md-6">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                </div>
              
                <div class="col-12">
                    <label asp-for="Address" class="form-label">Address</label>
                    <input asp-for="Address" class="form-control" />
                </div>
                <div class="col-12">
                    <label asp-for="AddressDetails" class="form-label">Address 2</label>
                    <input asp-for="AddressDetails" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label asp-for="City" class="form-label">City</label>
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label asp-for="ZipCode" class="form-label">Zip Code</label>
                    <input asp-for="ZipCode" class="form-control" />
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
